// mocked inherited styles in here, bad style rules


// attribute selector - cascades styles to elements potentially not in scope yet based on location
// better to add an opt in class

.sidebar h3 {
  color:red;
}

.maincontent h3 {
  color:blue;
}

.maincontent img {
  width: 100%;
  border: 2px solid #212529;
}
.maincontent div {
  font-weight:bold;
}



