// utilities - valid use case for !important
.u-text-small {
  font-size: $font-small !important;
}

.u-text-tiny {
  font-size: $font-tiny !important;
}

.u-text-secondary {
  color: $c-secondary !important;
}

.u-text-tertiary {
  color: $c-tertiary !important;
}

.u-link-secondary {
  color: $c-secondary !important;
  &:hover {
    color: darken($c-secondary, 20%) !important;
  }
}

.u-weight-thin {
  font-weight:200 !important;
}

.u-heading-space {
  padding-bottom: $gutter * .9 !important;
  margin-bottom: $gutter * 1.5 !important;
}

.u-heading-space-lg {
  padding-bottom: $gutter * 3 !important;
  margin-bottom: $gutter * 5 !important;
}

.u-space-evenly {
  justify-content: space-evenly !important;
}

.u-opacity-none {
  opacity:0 !important;
}


///////// Only for demo purposes //////////
.u-dev-annotation {
  font-weight: $fontweight-light;
  font-size: 1em;
  color: $c-debug;
  display:none;
  &::before {
    content:'['
  }
  &::after {
    content:']'
  }
}

@if($dev) {
  [class^='col-'] {
    border: 1px dashed $c-light-grey;
  }
  .u-dev-annotation {
    display: block;}
}
///////// Only for demo purposes //////////
