// Base radius
$border-radius: 3.5px;

// Base font
$font-size: 14px;
$font-small: .9em;
$font-tiny: .7em;

$fontweight-xlight: 200;
$fontweight-light: 300;
$fontweight-heavy: 600;
$fontweight-xheavy: 800;

// gutter
$gutter: 15px;

// Inputs
$input-height-normal: 33.5px;

// Breakpoints
$media-breakpoint-l: 992px;
$media-breakpoint-xl: 1441px;

// config switches
$dev: false;