// navigation
$headerTextIsLight: false;
@if (set-text-color($header-color , $dark-grey, $white) == $white) {
  $headerTextIsLight: true;
}

.navbar {
  background-color: $header-color;
  color: set-text-color($header-color, $dark-grey, $white);

  li a.nav-link, li a.nav-link.active, a {
    color: set-text-color($header-color, $dark-grey, $white);
  }

  li a.nav-link:hover  {
    @if ($headerTextIsLight) {
      color: darken(set-text-color($header-color, $dark-grey, $white), 20);
    } @else {
      color: lighten(set-text-color($header-color, $dark-grey, $white), 30);
    }
    cursor:pointer;
  }

  & .navbar-toggler {
    color: set-text-color($header-color, $dark-grey, $white);
  }
}

.navbar__logo {
  width: 128px;
  @if ($headerTextIsLight) {
    background-image:url('/src/assets/images/sms-logo-full-white-nobg-512.png');
  } @else {
    background-image:url('/src/assets/images/sms-logo-full-black-nobg.png');
  }
  background-size: cover;
  height:32px;
}

.navbar-brand {
  position:relative;
  display: flex;
  align-items: center;
}

.navbar__toolname {
  position:relative;
  top:2px;
  left:5px;
  font-size:1.3em;
  font-weight: 100;
}

.nav-item {
  list-style:none;
}

.nav-dropdown {
  color: $font-color;
}