// page container bootstrap modifiers
.container-fluid--laptop-and-down {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $media-breakpoint-xl) {
  .container-fluid--laptop-and-down {
    max-width: 80%;
  }
}

@media (min-width: $media-breakpoint-xl) {
  .navbar-expand-lg > .container-fluid--laptop-and-down {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
